<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.funny.androidartnote">

    <application
        android:name=".AApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chapter1.MainActivity">
        </activity>
        <activity android:name=".chapter1.SecondActivity"/>

        <provider
            android:name=".chapter2.BookProvider"
            android:authorities="com.funny.ex.provider.BookProvider"
            android:process="com.funny.ex.provider.BookProvider"/>

        <activity android:name=".chapter2.ProviderDataActivity">

        </activity>
        <activity android:name=".chapter2.PersonActivity">
        </activity>

        <service
            android:name=".chapter2.PersonService"
            android:enabled="true"
            android:process=":remotep">
        </service>
        <service
            android:name=".chapter2.MessageService"
            android:enabled="true"
            android:process=":remotem">
        </service>

        <service
            android:name=".chapter2.BinderPoolService"
            android:enabled="true"
            android:process=":remote">
        </service>


        <activity android:name=".chapter2.MessageActivity">
        </activity>
        <activity android:name=".chapter2.BinderPoolActivity">

        </activity>

        <activity android:name=".chapter4.AnimActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>